# Notebooks
.ipynb_checkpoints

# Python
.eggs
.pytest_cache
__pycache__
*.egg-info
.coverage
venv
dist

# Editor
.vscode

# Data
data
*.asc
tests/integration/*.parquet
tests/integration/tmp.geojson

# cpp
*.out
*.o
*.so
build/*
_skbuild
CMakeCache.txt
CMakeFiles/*

# rust
extension-rust/debug/
extension-rust/target
# Remove Cargo.lock from gitignore if creating an executable, leave it for libraries
# More information here https://doc.rust-lang.org/cargo/guide/cargo-toml-vs-cargo-lock.html
extension-rust/Cargo.lock

# Docs
docs/build
.DS_Store
